* {
    margin: 0;
}

body {
    background-image: url(/images/bg-pattern-top.svg),url(/images/bg-pattern-bottom.svg);
    background-color: hsl(185, 75%, 39%);
    background-repeat: no-repeat;
    background-size: 150vh, 100vh;
    background-position: right 80vh bottom 5vh, left 50vw top 50vh;
    font-family: 'Kumbh Sans', sans-serif;
}

.main-container {
    text-align: center;
}

.card {
    display: inline-block;
    background-color: white;
    border-radius: 15px;
    margin-top: 20vh;
    margin-bottom: 20vh;
    
}

.pattern-card {
    border-radius: 15px 15px 0 0;
}

.profile-photo {
    border-radius: 50%;
    border: 5px solid white;
    margin-top: -16%;
}

h3 {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
    color: hsl(229, 23%, 23%);
}

table {
    width: 100%;
    border-top: 1px solid hsl(0, 0%, 59%);
}

.age {
    font-size: 18px;
    display: inline-block;
    padding-left: 7px;
    color: hsl(227, 10%, 46%);
}

p {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

td {
    width: 25%;
}

.stats > td {
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
    color: hsl(229, 23%, 23%);
}

.stat-name > td {
    font-weight: 400;
    font-size: 12px;
    color: hsl(227, 10%, 46%);
    padding-bottom: 20px;
}

@media only screen and (max-width: 375px){

    body {
        background-image: url(/images/bg-pattern-top.svg),url(/images/bg-pattern-bottom.svg);
        background-color:  hsl(185, 75%, 39%);
        background-repeat: no-repeat;
        background-size: 100vh, 100vh;
        background-position: right 25vh bottom 50vh, left 50vw top 50vh;
        font-family: 'Kumbh Sans', sans-serif;
    }

    .card {
        width: 85vw;
    }
    
    .pattern-card {
        width: 85vw;
    }

    .profile-photo {
        margin-top: -18%;
    }
}
